<!DOCTYPE html>

<html>
<head>
    <style type="text/css">
        .style34 {
            text-align: center;
            height: 20px;
            width: 67px;
            font-weight: bold;
        }

        .style26 {
            text-align: center;
            height: 20px;
            font-weight: bold;
        }

        .style25 {
            text-align: center;
            height: 20px;
            width: 67px;
        }

        .style19 {
            width: 22px;
            text-align: center;
            height: 20px;
        }

        .style23 {
            text-align: center;
            height: 20px;
            width: 62px;
        }

        .style21 {
            text-align: center;
            height: 20px;
            width: 74px;
        }

        .style24 {
            text-align: center;
            height: 20px;
            width: 53px;
        }

        .style11 {
            text-align: center;
            height: 20px;
            width: 83px;
        }

        .style17 {
            text-align: center;
            height: 20px;
            width: 84px;
        }

        .style22 {
            text-align: center;
            height: 20px;
            width: 138px;
        }

        .style8 {
            text-align: center;
            height: 20px;
        }

        .auto-style16 {
            width: 934px;
            height: 134px;
            font-size: small;
        }

        .auto-style19 {
            width: 123px;
        }

        .auto-style20 {
            width: 127px;
        }

        .auto-style21 {
            margin-bottom: 23px;
            font-size: x-small;
        }

        .auto-style22 {
            color: #FFFFFF;
            text-align: center;
            width: 1004px;
            height: 140px;
        }

        .auto-style25 {
            font-size: small;
        }

        .auto-style28 {
            text-align: left;
        }

        .auto-style29 {
            width: 127px;
            height: 33px;
        }

        .auto-style30 {
            width: 123px;
            height: 33px;
        }

        .auto-style31 {
            height: 33px;
        }

        .auto-style32 {
            width: 89%;
        }

        .auto-style34 {
            text-align: center;
            height: 20px;
            width: 63px;
            color: #000000;
        }

        .auto-style35 {
            text-align: center;
            height: 20px;
            width: 63px;
            font-weight: bold;
        }

        .auto-style38 {
            text-align: center;
            height: 20px;
            width: 22px;
            font-weight: bold;
            color: #000000;
        }

        .auto-style41 {
            text-align: center;
            height: 20px;
            width: 36px;
            font-weight: bold;
        }

        .auto-style42 {
            text-align: center;
            height: 20px;
            width: 36px;
        }

        .auto-style43 {
            text-align: center;
            height: 20px;
            width: 30px;
            font-weight: bold;
            color: #000000;
        }

        .auto-style44 {
            width: 30px;
            text-align: center;
            height: 20px;
        }

        .auto-style45 {
            text-align: center;
            height: 20px;
            font-weight: bold;
            width: 37px;
            color: #000000;
        }

        .auto-style46 {
            text-align: center;
            height: 20px;
            width: 37px;
        }

        .auto-style47 {
            text-align: center;
            height: 20px;
            font-weight: bold;
            width: 11px;
            color: #000000;
        }

        .auto-style48 {
            text-align: center;
            height: 20px;
            width: 11px;
        }

        .auto-style49 {
            text-align: center;
            height: 20px;
            font-weight: bold;
            width: 23px;
            color: #000000;
        }

        .auto-style50 {
            width: 23px;
            text-align: center;
            height: 20px;
        }

        .auto-style51 {
            text-align: center;
            height: 20px;
            font-weight: bold;
            width: 20px;
            color: #000000;
        }

        .auto-style52 {
            width: 20px;
            text-align: center;
            height: 20px;
        }

        .auto-style53 {
            text-align: center;
            height: 20px;
            font-weight: bold;
            width: 16px;
            color: #000000;
        }

        .auto-style54 {
            width: 16px;
            text-align: center;
            height: 20px;
        }

        .auto-style55 {
            font-size: small;
            color: #FF0000;
        }

        .auto-style56 {
            font-size: small;
            color: #000000;
        }

        .auto-style57 {
            font-size: large;
            color: #000000;
        }

        .auto-style58 {
            color: #000000;
        }
    </style>
    <script>
        var username = document.getElementsByClassName("name")[0].getElementsByClassName("ng-binding")[0].innerHTML;


        function GetDestination() {
            $.ajax({
                url: '../api/CSHSSystemDataInterchange/GetStationDropdown',
                type: "GET",
                data: {
                },
                dataType: "json",
                success: function (data) {
                    //console.log(data);
                    var doc = document.getElementById("destinationddl");
                    doc.innerHTML = "";

                    for (var j = 0; j < data.length; ++j) {
                        var option = document.createElement("option");
                        option.value = data[j].origin_code;
                        option.text = data[j].origin_code;
                        //doc.style.minWidth = "100%";
                        doc.appendChild(option);
                    }
                },
                error: function (xhr) {
                    swal("Error", xhr.status + "-" + xhr.statusCode, "error", {
                        buttons: {
                            confirm: true
                        }
                    });
                }
            });
        }

        function closeModalList() {
            //GetData();
            $('#ListModal').modal('hide');
        }
    </script>
</head>
<body>
    <div style="padding-left:5%;">
        <div id="Content2">
            <h1>Upload File</h1>
        </div>
        <table class="auto-style32">
            <tr>
                <td class="auto-style29">Type :</td>
                <td class="auto-style30">
                    <select id="DropDownList1" onchange="DropDownList1_SelectedIndexChanged()">
                        <option>Digi</option>
                        <option>Shaklee</option>
                        <option>Herbalife</option>
                        <option>Stolle</option>
                    </select>
                </td>
                <td class="auto-style31">
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td class="auto-style29">Filename :</td>
                <td class="auto-style30">
                    <input type="file" id="FileUpload1" style="margin-bottom: 0px" />
                </td>
                <td class="auto-style31">
                    <input type="button" id="viewbtn" value="View" style="background-color: #99CCFF; border-color: Black; width: 106px;" onclick="viewbtn_Click()" />
                    &nbsp;
                    <input type="button" id="resetbtn" value="Reset" style="background-color: #99CCFF; border-color: Black; width: 106px;" onclick="resetbtn_Click()" />
                </td>
            </tr>
        </table>

        <div id="checkdata" class="auto-style21" style="width: 113%; display: none;">
            <table class="auto-style32">
                <tr>
                    <td class="auto-style20">&nbsp;</td>
                    <td class="auto-style19">&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="3">
                        <table id="GridView1" style="display: none;" class="auto-style25" onrowdatabound="GridView1_RowDataBound">
                        </table>
                        <br />
                    </td>
                </tr>
            </table>
        </div>
        <label id="error" class="auto-style55"></label>
    </div>
        
</body>
</html>