<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        /* CSS styles */
        h5, label, table {
            color: black;
        }

        input {
            color: black;
            width: 100%;
            max-width: 300px; /* Set a maximum width for smaller screens */
        }

        select {
            color: black;
            width: 100%;
            max-width: 300px; /* Set a maximum width for smaller screens */
        }

        .rightfloat, .class {
            float: right;
        }

        .modal {
            overflow: auto !important;
        }

        /* Result table styles */
        .result-table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

            .result-table th, .result-table td {
                border: 1px solid black;
                padding: 8px;
            }

            .result-table th {
                background-color: #D3D3D3;
                text-align: left;
                text-align: center;
            }

            .result-table td {
                text-align: center;
            }

        /* Column gaps */
        .col-gap {
            margin-right: 20px;
        }


    </style>
</head>
<body>
    <div class="card main-content" ng-controller="summaryreport as sr">
        <div class="modal-header" style="background-color: #D3D3D3;">
            <h4 class="modal-title">SUMMARY REPORT</h4>
        </div>
        <div class="modal-body">
            <div>
                <div class="row">
                    <div class="col-sm-2 col-gap">
                        <label style="text-align: left">Report:</label>
                        <select id="slcReportType">
                            <option>Please Select</option>
                            <option value="AGSS Orders Status">AGSS Order Status</option>
                            <option value="Atomy Orders Status">Atomy Order Status</option>
                            <option value="Herbalife Orders Status">Herbalife Order Status</option>
                            <option value="Shaklee Orders Status">Shaklee Order Status</option>
                            <option value="Stolle Orders Status">Stolle Order Status</option>
                        </select>
                    </div>
                </div>
                &nbsp;
                <div class="row">
                    <div class="col-sm-2 col-gap">
                        <label style="text-align: left">Date:</label>
                        <input id="dtStartdate" type="date" ng-model="sr.main.startdate" />
                    </div>
                    <div class="col-sm-2 col-gap">
                        <label style="text-align: left">To:</label>
                        <input id="dtEnddate" type="date" ng-model="sr.main.enddate" />
                    </div>
                </div>
            </div>
            &nbsp;
            <div class="row">
                <div class="col-sm-10">
                    <button type="button" class="btn" ng-click="sr.mainsearch()">Report</button>
                    <button type="button" class="btn" ng-click="sr.csv()">Export</button>
                </div>
            </div>
            <div  ng-if="sr.reportResult.item.length > 0">
                <table class="result-table">
                    <tr>
                        <th ng-repeat="data in sr.reportResult.header track by $index" align="center">{{data}}</th>
                    </tr>
                    <tr ng-repeat="dataItem in sr.reportResult.item track by $index">
                        <td ng-repeat="data in dataItem track by $index" align="center">{{data}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
